<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./web/static/css/main.css">
    <link rel="stylesheet" href="./web/static/css/reset.css">
</head>
<body>
    <div class="wrapper">
        <header class="top-space"></header>
        <div class="top-row">
          <div id="added-on-date"> Added on: {{ .Article.Metadata.LastModifiedStr }} </div>
        </div>
        <main>
            <article>
            {{ .Article.Content }}
            </article>
            <aside>
                <ul id="article-list">
                    {{range .ArticleList }}<li><a href="#">{{ .Title }}</a></li>{{end}}
                </ul>
            </aside>
        </main>
        <footer class="bottom-row">
            <div class="footer-box">
                <ul class="footer-items">
                    <li><a href="#">Strona</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>

