<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
  </head>
  <body>
  {{ .Article.Content }}
  <p> Added on: {{ .Article.MetadataLastModified }} </p>
  <ul> 
    {{range .ArticleList}}<li><a href="#">{{ .Title }}</a></li>{{end}}
  </ul>
  </body>
</html>
